page-login {

    .login {
        text-align: center
    }

    ion-input {
        background-color: lightgrey
    }

    ion-label {
        padding-left: 8px
    }
    
    .error-message {
        min-height: 2.2rem;
        p {
            font-size: 60%;
        }
        ion-label {
            margin: 2px 0;
        }
        .item-inner {
            border-bottom: 0 !important;
        }
    }

}
